<script type="text/javascript" charset="utf-8">
  $(document).on('ready page:load', function() {
      $(".modal-cls-btn").click(function(){
        parent.$.fancybox.close( true );
      });

      $("#contact-us-tab").click(function(){

          var $tab = $(this)
        $("#contact-us-container").show();
        $tab.addClass("contact-active-tab");

        $("#order-us-container").hide();
        $("#join-us-wrapper").hide();

        $("#order-us-tab").removeClass("contact-active-tab");
        $("#join-us-tab").removeClass("contact-active-tab");

          $('#wrapper').addClass('selected-' + $tab.attr('id'))
      });

      $("#order-us-tab").click(function(){
          var $tab = $(this)

        $("#order-us-container").show();
        $tab.addClass("contact-active-tab");

        $("#contact-us-container").hide();
        $("#join-us-wrapper").hide();

        $("#contact-us-tab").removeClass("contact-active-tab");
        $("#join-us-tab").removeClass("contact-active-tab");

          $('#wrapper').addClass('selected-' + $tab.attr('id'))
      });

      $("#join-us-tab").click(function(){
          $tab = $(this)

        $("#join-us-wrapper").show();
        $tab.addClass("contact-active-tab");

        $("#contact-us-container").hide();
        $("#order-us-container").hide();

        $("#contact-us-tab").removeClass("contact-active-tab");
        $("#order-us-tab").removeClass("contact-active-tab");

          $('#wrapper').addClass('selected-' + $tab.attr('id'))
      });
  });
</script>

<article class="contact-header">

    <div id="contact-us-tab" data-url="<%= contact_path %>" data-tab-content-id="contact-us-container" class="<%= (@section == :contact)? 'contact-active-tab' : '' %>" title="<%= t('pages.contact.page-title') %>">
      <%= link_to_if @section != :contact, t('pages.contact.page-title'), contact_path, class: 'no-border-bottom' %>
    </div>
    <div id="order-us-tab" data-url="<%= order_path %>" data-tab-content-id="order-us-container" title="Замовити нас" class="<%= (@section == :order)? 'contact-active-tab' : '' %>">
      <%= link_to_if @section != :order, t('pages.order.page-title'), order_path, class: 'no-border-bottom' %>
    </div>
    <div id="join-us-tab" data-url="<%= join_us_path %>" data-tab-content-id="join-us-wrapper" title="Приєднатись до нас" class="<%= (@section == :join_us)? 'contact-active-tab' : '' %>">
      <%= link_to_if @section != :join_us, t('pages.join-us.page-title'), join_us_path, class: 'no-border-bottom' %>
    </div>
    <div id="close-button" class="modal-cls-btn" title="<%= t('partials.modal-window.close') %>">
      <a href="" class="modal-cls-btn" title="<%= t('partials.modal-window.close') %>">
        <%# image_tag("contacts-close-button.png", :alt => "Закрити вікно") %>
        <img alt="<%= t('partials.modal-window.close') %>" src="<%= asset_path('static_images/contacts-close-button.png') %>" />
      </a>
    </div>
  </article>