<div id="developers-panel">
  <div class="dev-pan f-height">
    <div class="mobile-column">
      <%  _description = project.description; I18n.available_locales.each {|locale|  break if _description.present?; _description = project.translations_by_locale[locale].description  }  %>
      <div class="dev-field project-description">
        <p><%= raw _description %></p>
      </div>

    <% if project.developers.any? %>
      <div class="dev-field">
        <h4><%= t("pages.portfolio-item.project_team") %></h4>
      </div>
      <!-- Developers and roles -->
    <% project.developers.each do |developer| %>
      <div class="dev-field">
        <p class="role"><%= developer.developer_role.name %></p>
        <p class="author"><%= developer.first_name+' '+developer.last_name %></p>
      </div>
    <% end %>
    <% end %>
    </div>


    <div class="mobile-column">
    <%  _thanks_to = project.thanks_to; I18n.available_locales.each {|locale|  break if _thanks_to.present?; _thanks_to = project.translations_by_locale[locale].thanks_to  }  %>  
    <% if _thanks_to.present? %>
    <!-- Thanks for work -->
      <div class="dev-field">
        <h4 class="last-h4"><%= t("pages.portfolio-item.thanks_to") %></h4>
        <p class="author"><%= _thanks_to %></p>
      </div>
    <% end %>

    <% if project.thanks_image && project.thanks_image.exists?(:thumb) && project.thanks_image.exists?(:big)  %>
      <div style="padding-top:45px;"  class="dev-field thanks_image">
          <a href="<%=  project.thanks_image.url(:big) %>">
            <img class="thanks_image" src="<%= project.thanks_image.url(:thumb) %>" />
          </a>
      </div>
    <% end %>


    <% if project.portfolio_technologies.count > 0 %>
    <div class="dev-field technologies" style="padding-top:45px;">
      <ul>
      <% project.portfolio_technologies.each do |technology| %>
          <li>
          <a href="<%= technology.official_link %>">
            <img src="<%= technology.avatar.url(:icon48) %>" />
          </a>
        </li>
      <% end %>
    </ul>
    </div>
    <% end %>
  </div>
  </div>
</div>