<div id="portfolio-items-container" class="sortable-portfolio" <%= "data-limit=#{isotope_limit}" if defined?(isotope_limit) && isotope_limit >= 0 %> >
    <% if items.try(&:any?) %>
      <% items.each do |item| %>
          <% if item.portfolio_category %>
            <div class="g4 portfolio-item <%= item.portfolio_category.slug %><%= ( @active_category && @active_category.respond_to?(:id) && item.portfolio_category && item.portfolio_category && item.portfolio_category.respond_to?(:id)  && @active_category.id != item.portfolio_category.id )? ' isotope-hidden' : '  isotope-hidden' %>">
              <figure class="myclass">
                <%= link_to(image_tag(item.avatar.url(:non_retina), alt: item.name, class: 'grayscale' ), portfolio_item_path( category: item.portfolio_category.slug, item: item.slug), title: item.name,  :'data-no-turbolink' => '', class: 'image-link'  ) %>
              </figure>
            </div>
          <% end %>
      <% end %>
    <% end %>


    <% if 1 == 2 %>
         <!--  <div class="g4 portfolio-item poly">
            <figure>
            <%= link_to(image_tag('p2-c.jpg'), '#') %>
            </figure>
          </div>
          <div class="g4 portfolio-item firm">
            <figure>
            <%= link_to(image_tag('p3-c.jpg'), '#') %>
            </figure>
          </div>
          <div class="g4 portfolio-item web">
            <figure>
            <%= link_to(image_tag('p4-c.jpg'), '#') %>
            </figure>
          </div>
          <div class="g4 portfolio-item poly">
            <figure>
            <%= link_to(image_tag('p4-c.jpg'), '#') %>
            </figure>
          </div>
          <div class="g4 portfolio-item firm">
            <figure>
            <%= link_to(image_tag('p5-c.jpg'), '#') %>
            </figure>
          </div>
          <div class="g4 portfolio-item web">
            <figure>
            <%= link_to(image_tag('p6-c.jpg'), '#') %>
            </figure>
          </div>
          <div class="g4 portfolio-item poly">
            <figure>
            <%= link_to(image_tag('p7-c.jpg'), '#') %>
            </figure>
          </div>
          <div class="g4 portfolio-item firm">
            <figure>
            <%= link_to(image_tag('p1-c.jpg'), '#') %>
            </figure>
          </div>
          <div class="g4 portfolio-item web">
            <figure>
            <%= link_to(image_tag('p2-c.jpg'), '#') %>
            </figure>
          </div>
          <div class="g4 portfolio-item poly">
            <figure>
            <%= link_to(image_tag('p3-c.jpg'), '#') %>
            </figure>
          </div>
          <div class="g4 portfolio-item firm">
            <figure>
            <%= link_to(image_tag('p5-c.jpg'), '#') %>
            </figure>
          </div>
          <div class="g4 portfolio-item web">
            <figure>
              <%= link_to(image_tag('p6-c.jpg'), '#') %>
            </figure>
          </div> -->

        <% end %>
  </div>

<script type="text/javascript">


  
</script>
