<div id="portfolio-banner-outer"  class="banner-outer">
  <!-- Outer wrapper for presentation only, this can be anything you like -->
  <figure class="banner-holder-figure">
    <div class="fixed-banner-wrapper">
      <figure class="fixed-banner-holder-figure">

        <div style="background-image: url(<%= @item.portfolio_banner.background.url %>)" class="slide">
            <div id="nav-arrows">
                <div class="prev">
                  <a href="<%= portfolio_item_path(category: @prev_portfolio.portfolio_category.slug, item: @prev_portfolio.slug) %>">
                    <span class="arrow"></span>
                    <img title="<%= @prev_portfolio.title %>" src="<%= @prev_portfolio.avatar.url(:thumb180) %>" alt="<%= @prev_portfolio.title %>"/>
                  </a>
                </div>

                <div class="next">
                  <a title="<%= @next_portfolio.name %>" href="<%= portfolio_item_path(category: @next_portfolio.portfolio_category.slug, item: @next_portfolio.slug) %>">
                    <span class="arrow"></span>
                    <img src="<%= @next_portfolio.avatar.url(:thumb180) %>" alt="<%= @next_portfolio.name %>"/>
                  </a>
                </div>
            </div>

              <div class="slide-description">
                <div class="title"><%= raw @item.portfolio_banner.title %></div>
                <div class="description"><%= raw @item.portfolio_banner.description %></div>
              </div>
          </div>
        <!-- end Basic jQuery Slider -->
      </figure>
    </div>
  </figure>
  <!-- End outer wrapper -->

  <script class="secret-source">
      //jQuery(document).ready(function($) {



      //});
  </script>
</div>