<div id="breadcrumbs">
  <div class="container">
    <ul style="
    margin-left: 1%;
            padding-left: 0%;
    ">
      <li><a href="<%= root_path %>"><%= t('partials.breadcrumbs.base.home-page') %></a></li>
      <li><a href="<%= send "#{I18n.locale}_service_list_path" %>"><%= t('partials.breadcrumbs.service-item.services-list-page') %></a></li>
      <li><%= @service.name %></li>
    </ul>
  </div>
</div>