<div class="white-background">
  	<section id="article-item-page">
  		<div id="article-title-section">
  			<div id="article-title-container">
				<span id="article-title">Анонси та події</span>
			</div>
		</div>

        <%= render partial: 'partials/page_breadcrumbs' %>

		<div id="article-section">
			<div id="article-container">
				<div id="article-title-wrapper">
					<h1 class="article-title"><%= @article.name %></h1>
				</div>
                <div id="avatar-and-tags">
				    <div id="avatar-container">
					    <%= image_tag @article.avatar.url, :alt => @article.name %>
                        <%# image_tag( 'http://placehold.it/1440x960&text=[img]' ) %>
				    </div>

                  <div style="" id="header-tag-list">
                    <ul class="tag-list">
                      <% @article.tag_list.each do | tag | %>
                          <li><%= link_to tag, article_tag_path(tag: tag) %></li>
                      <% end %>

                    </ul>
                  </div>
                </div>


              <div id="release-date-and-short-description">
                <div id="release-date">
                  <% date = @article.release_date %>
                  <%= date.day.to_s + '.' + date.month.to_s + '.' + date.year.to_s %>
                </div>
                <div id="short-description">
                    <%= raw @article.short_description %>
                </div>
              </div>

				<div id="article-body">

					
					<div id="content"><%= raw @article.content %></div>

					<div id="footer-tag-list" style="display: none">
						<ul class="tag-list">
                          <% @article.tag_list.each do | tag | %>
                              <li><%= link_to tag, article_tag_path(tag: tag) %></li>
                          <% end %>
						</ul>
					</div>
				</div>
			</div>
		</div>


      <%= render partial: 'partials/item_like_bar' %>

		<div id="related-articles">
			<% @related_articles.each do |article_item| %>
        <article id="article-2" class="article-item" itemscope itemtype="http://schema.org/Article">
          <header>
            <div class="article-title-wrapper"><h3 class="article-title" itemprop="name"><%= link_to(article_item.name.truncate(100), article_list_path+'/'+article_item.slug, :itemprop => 'url') %></h3></div>
            <div class="image-container"><%= link_to(image_tag(article_item.avatar.url(:article_item), :itemprop => 'image', :alt => article_item.name),
            '/articles/'+ article_item.slug, class: 'image-link' ) %></div>
          </header>

          <section itemprop="description">
            <p><%= article_item.short_description.truncate(255) %></p>
          </section>
          <footer>
            <ul style="display: none" class="tag-list">
              <% article_item.tag_list.each do | tag | %>
                  <li><%= link_to tag, article_tag_path(tag: tag) %></li>
              <% end %>
            </ul>
          </footer>
        </article>
      <% end %>
		</div>
	</section>
</div>