<%= meta(meta_keywords = "веб, розробка, створення, дизайн, поліграфія, дизайн студія, Львів, веб-дизайн, веб-сайт, веб сторінки, web сторінки, фірмовий стиль, логотипи, бренд-бук, флаєр, листівка, візитка, вітрина, друк", meta_description = "Дизайн студія Миколи Вороніна. Займається розробкою презентаційних і корпоративних веб-сайтів, Інтернет магазинів, SEO, а також створенням якісного графічного дизайну: логотипів, фірмового стилю, буклетів, афіш, реклами, зовнішньої реклами, Інтернет реклами, та веб-банерів.") %>
<%= title("Дизайн студія Миколи Вороніна (Львів). Графічний дизайн. Створення веб-сайтів. Поліграфія.") %>
<%= render :partial => 'partials/bjqs' %>

<div id="welcome-wrapper">
  <section class="" id="welcome-section">
      <div id="text-wrapper">
        <!-- Copy and paste  -->

        <div id="text-container">
          <div id="greetings-and-description-container">
            <p id="main-greetings"><span style="">Вітаємо!</span></p>
            <p id="main-description">Наша студія через дослідження, стратегію, дизайн і розробку допомагає створювати та розвивати якісні і видатні бренди. А кожний новий творчий проект є унікальним і підхід до нього повинен бути відповідно унікальний, розроблений саме під нього.</p>
          </div>
          <h1 id="h1-about"><span style="" >Ми розробляємо логотипи, фірмові стилі, веб сайти, етикетки та упаковки</span></h1>
          <p id="main-description-copy">Наша студія через дослідження, стратегію, дизайн і розробку допомагає створювати та розвивати якісні і видатні бренди. А кожний новий творчий проект є унікальним і підхід до нього повинен бути відповідно унікальний, розроблений саме під нього.</p>
        </div>





        <!-- Copy and paste -->
      </div>

        <div id="sprites-and-button-wrapper">
        <div id="home-sprites-wrapper" class="sprite-section-home">
          <ul>

            <% @portfolio_technologies.reverse_order! %>
            <% @portfolio_technologies.each do | t | %>
                <% if 1 == 2 %>
            <li>
              <a href="<%= t.official_link %>" rel="nofollow" title="<%= t.name %>" target="_blank">
                <figure class="tech-but android-icon">
                    <img src="<%= t.avatar.url %>" />
                </figure>
              </a>
            </li>
                    <% end %>
            <% end %>
          </ul>
        </div>
        <div id="modal-btn-wrapper">
          <%= link_to("Замовте нас!", order_path, :class => "order-us brand-button", :class => "modal-btn brand-button", :data => { :'fancybox-type' => "iframe" }) %>
        </div>
      </div>
  </section>
</div>


<div id="home-portfolio">
  <%= render :partial => 'partials/portfolio_items', :locals => { :target => 'home', :items => @portfolios } %>
  <%= render :partial => 'partials/portfolio_tabs', :locals => { :target => 'home' } %>
  <script type="text/javascript">

  </script>
</div>
<%= render :partial => 'partials/home_clients_and_news' %>


