<div class="page-content about-page">
<div class="white-background">
  <div class="white-background-content">
    <%= raw @services_intro %>

      <div id="services-list-wrapper">
        <div id="services-list-container">
      <% @get_all_services.each do |service_item| %>
        <article id="service-<%= service_item.id %>" class="service-item <%= cycle('left-item', 'right-item') %>" itemscope itemtype="http://schema.org/Product">
            <% if 1 == 2 %>
              <span class="index">0<%= service_item.sort_id %></span>
            <% end %>

            <% if service_item.avatar.present? %>
            <div class="image-container">
              <%= image_tag(service_item.avatar.url, :itemprop => 'image', :alt => service_item.name) %>
            </div>
            <% end %>
            <h2 itemprop="name" class="service-title"><%= link_to(service_item.name, service_path+'#service-'+service_item.id.to_s, :itemprop => 'url') %></h2>
          <section class="description" itemprop="description">
            <% if service_item.short_description[0, 3] == '<p>' %>
              <%= service_item.short_description.html_safe unless service_item.short_description.blank? %>
            <% else %>
              <p><%= service_item.short_description unless service_item.short_description.blank? %></p>
            <% end %>
          </section>
        </article>
      <% end %>
    </div>
    </div>

  <section id="sub-footer">
    <article class="container last-service-block f-height push-left">
      <div class="g2">&nbsp;</div>
      <div class="g8">
        <div class="image-container">
          <%= image_tag('service-order-us.png') %>
        </div>
        <div style="max-width: 500px; float: left;" class="">
          <h1>Шукаєте щось цікавеньке? </h1>
          <p class="order-p-descr-service">Ми завжди готові взятись за невідомий та цікавий проект, де потрібно проявити максимум смекалки та прийняти ряд креативних і нестандартних рішень для вирішення поставленої задачі! </p>
          <%= link_to('Замовте нас!', order_path, :class => 'order-us brand-button modal-link fancybox', :id => 'modal-btn', :data => { :'fancybox-type' => 'iframe' }) %>
        </div>


      </div>
      <div class="g2">&nbsp;</div>
    </article>
  </section>
</div>
</div>
</div>