<%# cache "#{I18n.locale}_services_index" do %>
<div class="page-content about-page">
<div class="white-background">
  <div class="white-background-content">
    <%= raw @services_intro %>

      <div id="services-list-wrapper">
        <div id="services-list-container">
      <% @get_all_services.each do |service_item| %>
        <article id="service-<%= service_item.id %>" class="service-item <%= cycle('left-item', 'right-item') %>" itemscope itemtype="http://schema.org/Product">
            <% if 1 == 2 %>
              <span class="index">0<%= service_item.sort_id %></span>
            <% end %>

            <% if service_item.avatar.present? %>
            <div class="image-container">
              <%= link_to( image_tag(service_item.avatar.url, :itemprop => 'image', :alt => service_item.name), service_item_path(service_item: service_item.slug), class: 'image-link' ) %>
            </div>
            <% end %>
            <h2 itemprop="name" class="service-title"><%= link_to(service_item.name, service_item_path(service_item: service_item.slug), :itemprop => 'url') %></h2>
          <section class="description" itemprop="description">
            <% if service_item.short_description[0, 3] == '<p>' %>
              <%= service_item.short_description.html_safe unless service_item.short_description.blank? %>
            <% else %>
              <p><%= service_item.short_description unless service_item.short_description.blank? %></p>
            <% end %>
          </section>
        </article>
      <% end %>
    </div>
    </div>

    <%= raw @services_footer %>
</div>
</div>
</div>
<%# end %>