<%= title("Портфоліо") %>
<%= meta(meta_keywords = "", meta_description = "") %>

<div class="white-background">
  <section class="container" id="portfolio-section">
    <section class="f-height">
      <article class="g12"><span class="text">Портфоліо</span></article>
    </section>
  </section>
  <div id="portfolio-index">
    <% if @active_category && @active_category.respond_to?(:id) %>
        <%= render :partial => 'partials/category_portfolio_tabs', :locals => { :target => 'home', active_category: @active_category } %>
    <% else %>
        <%= render :partial => 'partials/portfolio_tabs', :locals => { :target => 'home', active_category: @active_category } %>
    <% end %>
    <%= render :partial => 'partials/portfolio_items', :locals => { :target => 'home', :items => @portfolios } %>
  </div>

  <%= render partial: 'portfolio/portfolio_description' %>

  <%= render :partial => 'partials/portfolio_invitation' %>
</div>
