<%= title("Портфоліо") %>
<%= meta(meta_keywords = "", meta_description = "") %>

<div class="white-background">
  <section class="container" id="portfolio-section">
    <section class="f-height">
      <article class="g12"><h1>Портфоліо</h1></article>
    </section>
  </section>
  <div id="portfolio-index">
    <%= render :partial => 'partials/portfolio-tabs', :locals => { :target => 'home' } %>
    <%= render :partial => 'partials/portfolio-items', :locals => { :target => 'home', :items => @portfolios } %>
  </div>

  <%= render :partial => 'partials/portfolio_invitation' %>
</div>
