<article class="body-contacts" id="join-us-wrapper"  <% if( @section == :join_us ) %>style="display: block;" <% else %>style="display: none;" <% end %> >
  <div class="contact-us-wrapper">
    <% if !flash[:submitted]  %>
    <% if 1 == 2 %><form id="join-us-form" method="post" action="/join-us" multipart="true" ><% end %>
    <%= form_for @join_us, url: join_us_path, html: { multipart: true, id: 'join-us-form' } do |f| %>
      <div class="group-1-and-reference">
        <div id="group-1">
          <div class="contact-form-field field-1">
            <input type="text" name="name" id="name" data-validation="length" data-validation-length="3-20" placeholder="<%= t('partials.forms.base.fields.name.placeholder') %>"/>
            <label for="name"><%= t('partials.forms.base.fields.name.label') %> <sup>*</sup></label>
          </div>
          <div class="contact-form-field field-2">
            <input type="text" name="phone" id="phone" data-validation="custom" data-validation-regexp="^[0-9]{6,11}$" placeholder="<%= t('partials.forms.base.fields.phone.placeholder') %>"/>
            <label for="phone"><%= t('partials.forms.base.fields.phone.label') %> <sup>*</sup></label>
          </div>
        </div>
        <div id="group-2">
          <div class="contact-form-field field-3">
            <% if 1 == 2 %><input class="portfolio" id="portfolio" name="attachment" type="file" placeholder="Виберіть файл"/><% end %>
            <%= f.file_field :portfolio  %>
            <label for="portfolio"><%= t('partials.forms.join-us.fields.portfolio.label') %></label>
          </div>
          <div class="contact-form-field field-4">
            <input class="email" name="email" id="email" type="text" data-validation="email" placeholder="<%= t('partials.forms.base.fields.email.placeholder') %>" />
            <label for="email"><%= t('partials.forms.base.fields.email.label') %> <sup>*</sup></label>
          </div>
        </div>

        <div class="reference">
          <p><%= t('partials.forms.base.fields.tip.title') %></p>
          <p><i><%= raw t('partials.forms.base.fields.tip.part-1', symbol: "<sup>*</sup>") %></i></p>

        </div>
      </div>


      <div id="group-3">
        <div class="contact-form-field field-5">
          <div class="select-wrapper">
            <select name="vacancy" id="vacancy">
                <option value="extra-high-budget"><%= t('partials.forms.join-us.fields.vacancy.values.value-1') %></option>
                <option selected="selected" value="extra-high-budget"><%= t('partials.forms.join-us.fields.vacancy.values.value-2') %></option>

                <option value="high-budget"><%= t('partials.forms.join-us.fields.vacancy.values.value-3') %></option>
                <option value="low-budget" selected><%= t('partials.forms.join-us.fields.vacancy.values.value-4') %></option>
                <option value="extra-high-budget"><%= t('partials.forms.join-us.fields.vacancy.values.value-5') %></option>
                <option value="extra-high-budget"><%= t('partials.forms.join-us.fields.vacancy.values.value-6') %></option>
                <option value="extra-high-budget"><%= t('partials.forms.join-us.fields.vacancy.values.value-7') %></option>
            </select>
            <span class="select-arrow"></span>
          </div>
          <label for="price-range"><%= t('partials.forms.join-us.fields.vacancy.label') %></label>
        </div>

        <div class="right-section-textarea field-6">
          <div class="contact-form-field text-input">
            <textarea name="message" id="message" cols="15" rows="15" placeholder="<%= t('partials.forms.join-us.fields.message.placeholder') %>"></textarea>
            <label for="message"><%= t('partials.forms.join-us.fields.message.label') %></label>
          </div>
        </div>

        <div class="submit field-7">
          <input style="float:right" type="submit" class="brand-button" value="<%= t('partials.forms.base.fields.button-send') %>" />
        </div>

        <div class="mobile-reference">
          <p><%= t('partials.forms.base.fields.tip.title') %></p>
          <p><i><%= raw t('partials.forms.base.fields.tip.part-1', symbol: "<sup>*</sup>") %></i></p>
        </div>
      </div>



    <% end %>

    <% if 1 == 2 %></form><% end %>



    <div id="order-form-waiting" class="form-waiting">
      <img src="<%= asset_path('static_images/ajax-loader.gif') %>" >
    </div>

    <% end %>

    <div id="join-us-form-success-alert" class="form-success-alert" <% if flash[:submitted] %>style="display: block;"<% end %> >
      <span class="h1"><%= t('partials.forms.base.form-success-alert.title') %></span>
      <p><%= raw t('partials.forms.base.form-success-alert.text') %></p>
    </div>

  </div><!-- contact us wrapper -->

  <script type="text/javascript">
      $(document).on('ready', function(){
          $.validate({
              form: '#join-us-form'
          })
      })
  </script>

</article>