<article class="body-contacts" id="order-us-container" <% if( @section == :order ) %>style="display: block;" <% else %>style="display: none;" <% end %> >
  <div class="contact-us-wrapper">
    <form id="order-form" action="<%= post_order_path %>" method="post">
      <div class="group-1-and-group-2-and-reference">

        <div id="group-1">
          <div class="contact-form-field field-1">
            <input type="text" name="name" id="name" placeholder="<%= t('partials.forms.base.fields.name.placeholder') %>" data-validation="length" data-validation-length="3-20"  />
            <label for="name"><%= t('partials.forms.base.fields.name.label') %> <sup>*</sup></label>
          </div>
          <div class="contact-form-field field-2">
            <input type="text" name="phone" id="phone" placeholder="<%= t('partials.forms.base.fields.phone.placeholder') %>" data-validation="custom" data-validation-regexp="^[0-9]{6,11}$"  />
            <label for="phone"><%= t('partials.forms.base.fields.phone.label') %> <sup>*</sup></label>
          </div>
        </div>

        <div id="group-2">

          <div class="contact-form-field field-3">
            <input class="organization" id="organization" name="organization" type="text" placeholder="<%= t('partials.forms.base.fields.organization.placeholder') %>"  />
            <label for="organization"><%= t('partials.forms.base.fields.organization.label') %></label>
          </div>

          <div class="contact-form-field field-4">
            <input class="email" id="email" name="email" type="text" placeholder="<%= t('partials.forms.base.fields.email.placeholder') %>" data-validation="email" />
            <label for="email"><%= t('partials.forms.base.fields.email.label') %> <sup>*</sup></label>
          </div>

        </div>

        <div class="reference">
          <p><%= t('partials.forms.base.fields.tip.title') %></p>
          <p><i><%= raw t('partials.forms.base.fields.tip.part-1', symbol: "<sup>*</sup>") %></i></p>
          <p><i><%= t('partials.forms.base.fields.tip.part-2') %></i></p>
        </div>
      </div>


      <div id="group-3">
        <div class="contact-form-field field-5">
          <div class="select-wrapper">
              <select name="price-range" id="price-range">
                <option value="extra-high-budget" selected><%= t('partials.forms.base.fields.price-range.values.1') %></option>
                <option value="high-budget"><%= t('partials.forms.base.fields.price-range.values.2') %></option>
                <option value="medium-budget"><%= t('partials.forms.base.fields.price-range.values.3') %></option>
                <option value="low-budget"><%= t('partials.forms.base.fields.price-range.values.1') %></option>
              </select>

              <span class="select-arrow"></span>
          </div>
          <label for="price-range"><%= t('partials.forms.base.fields.price-range.label') %></label>
        </div>

        <div class="right-section-textarea field-6">
          <div class="contact-form-field text-input">
            <textarea name="message" id="message" cols="15" rows="15" placeholder="<%= t('partials.forms.base.fields.message.placeholder') %>"></textarea>
            <label for="message"><%= t('partials.forms.base.fields.message.label') %></label>
          </div>
        </div>

        <div class="submit field-7">
          <input style="float:right" type="submit" class="brand-button" value="<%= t('partials.forms.base.fields.button-send') %>" />
        </div>

        <div class="mobile-reference">
          <p><%= t('partials.forms.base.fields.tip.title') %></p>
          <p><i><%= raw t('partials.forms.base.fields.tip.part-1', symbol: "<sup>*</sup>") %> </i></p>
          <p><i><%= t('partials.forms.base.fields.tip.part-2') %></i></p>
        </div>
      </div>





    </form>

    <div id="order-form-waiting" class="form-waiting">
      <img src="<%= asset_path('static_images/ajax-loader.gif') %>" >
    </div>

    <div id="order-form-success-alert" class="form-success-alert">
      <span class="h1"><%= t('partials.forms.base.form-success-alert.title') %></span>
      <p><%= raw t('partials.forms.base.form-success-alert.text') %></p>
    </div>

  </div><!-- contact us wrapper -->


</article>