<% hostname = 'new.voroninstudio.eu' %>
name: <%= @order.name %>
phone: <%= @order.phone %>
organization_name: <%= @order.organization_name %>
email: <%= @order.email %>
money: <%= @order.money %>
text: <%= @order.text %>


<br/>
<p class="link-in-admin-panel">
  <%= link_to( 'in admin panel', "http://#{hostname}/admin/forms~order/#{@order.id}/show" ) %>
</p>