<% valko_portfolio = Portfolio::Portfolio.find(19) %>
<li id="slide-valko" class="slide">
  <div class="slide-content">
    <div id="ii-crystal-blured-medium" class = "layer crystal ii-layer ii-crystal-blured-medium final-position"><%= image_tag ('banners/valko/vs-maimban-valko-2.png') %></div>
    <div id="ii-crystal-main" class="layer crystal ii-crystal-main final-position"><%= image_tag ('banners/valko/vs-maimban-valko-1.png') %></div>
    <div id = "ii-crystal-blured-small" class = "layer crystal ii-crystal-blured-small final-position"><%= image_tag ('banners/valko/vs-maimban-valko-3.png') %></div>
    <div id = "ii-crystal-blured-big" class = "layer crystal ii-crystal-blured-big final-position"><%= image_tag ('banners/valko/vs-maimban-valko-4.png') %></div>
    <div id="" class="layer description final-position">
      <span class="title"><a data-no-turbolink="" href="<%= portfolio_item_path(  category: valko_portfolio.portfolio_category.slug, item: valko_portfolio.slug ) %>"><%= raw t('pages.home.main-banner.slides.slide-1.title') %></a></span>

      <p><%= raw t('pages.home.main-banner.slides.slide-1.description') %></p>
      <a data-no-turbolink="" href="<%= portfolio_item_path( category: valko_portfolio.portfolio_category.slug, item: valko_portfolio.slug ) %>" class="brand-button"><%= t('partials.buttons.read-more') %></a>
    </div>
  </div>
  <script>

  </script>

</li>
