<% czmk_portfolio =  Portfolio::Portfolio.find(26) %>
<li id="slide-czmk" class="slide">
  <div class="slide-content">
    <div id="czmk-monitor" class = "layer crystal ii-layer czmk-monitor final-position"><%= image_tag ('banners/czmk/vs-main-czmk-1.png') %></div>
    <div id="" class="layer description final-position">
      <span class="title"><a data-no-turbolink="" href="<%= portfolio_item_path( category: czmk_portfolio.portfolio_category.slug, item: czmk_portfolio.slug ) %>"><%= raw t('pages.home.main-banner.slides.slide-3.title') %></a></span>
      <p><%= raw t('pages.home.main-banner.slides.slide-3.description') %></p>
      <a data-no-turbolink="" style="" class="order-us brand-button" href="<%= portfolio_item_path( category: czmk_portfolio.portfolio_category.slug, item: czmk_portfolio.slug ) %>"><%= t('partials.buttons.read-more') %></a>
    </div>
  </div>
  <script>

  </script>

</li>
