<li id="slide-3" class="slide">
	<div id="ii-crystal-blured-medium" class = "layer crystal ii-layer ii-crystal-blured-medium final-position"><%= image_tag ('banners/ii-v2/left-middle.png') %></div>
	<div id="ii-crystal-main" class="layer crystal ii-crystal-main final-position"><%= image_tag ('banners/ii-v2/crystal-main.png') %></div>
	<div id = "ii-crystal-medium" class="layer crystal ii-crystal-medium final-position"><%= image_tag ('banners/ii-v2/right-middle.png') %></div>
	<div id = "ii-crystal-blured-small" class = "layer crystal ii-crystal-blured-small final-position"><%= image_tag ('banners/ii-v2/right-small.png') %></div>
	<div id = "ii-crystal-blured-big" class = "layer crystal ii-crystal-blured-big final-position"><%= image_tag ('banners/ii-v2/right-big.png') %></div>
	<div id="" class="layer description final-position">
		<h2><a href="/portfolio/item">Investment Intelligence</a></h2>
		<p>Investment Intelligence provides sophisticated financial organizations with powerful analytical software designed to identify serious problems at an early stage.</p>
		<p style="margin-bottom: 20px;">We accomplish this by harnessing the power of applied behavioural science and making it available in innovative, state -of-the-art software.</p>
		<a style="font-size: 0.2em;" class="order-us brand-button" href="/portfolio/item">Детальніше!</a>
	</div>
	
	<script>
	
</script>

</li>
