<% g3k_portfolio =  Portfolio::Portfolio.find(20) %>
<li id="slide-g3k" class="slide">
  <div class="slide-content">
    <div id="g3k-left-arrow" class = "layer crystal ii-layer g3k-left-arrow final-position"><%= image_tag ('banners/g3k/vs-main-g3k-2.png') %></div>
    <div id="g3k-letter" class="layer crystal g3k-letter final-position"><%= image_tag ('banners/g3k/vs-main-g3k-1a.png') %></div>
    <div id = "g3k-top-center-arrow" class="layer crystal g3k-top-center-arrow final-position"><%= image_tag ('banners/g3k/vs-main-g3k-3.png') %></div>
    <div id = "g3k-letter-arrow" class = "layer crystal g3k-letter-arrow final-position"><%= image_tag ('banners/g3k/vs-main-g3k-1b.png') %></div>
    <div id = "g3k-bottom-right-arrow" class = "layer crystal g3k-bottom-right-arrow final-position"><%= image_tag ('banners/g3k/vs-main-g3k-4.png') %></div>
    <div id="" class="layer description final-position">
      <span class="title"><a data-no-turbolink="" href="<%= portfolio_item_path(  g3k_portfolio.portfolio_category.url, g3k_portfolio.slug ) %>">&laquo;Games3K&raquo; — розробка логотипу та фірмового стилю!</a></span>
      <p>Нашою задачею стало придумати назву, створити логотип та фірмовий стиль. А також інтернет магазин для реалізації товару через інтернет.</p>
      <a data-no-turbolink="" style="" class="order-us brand-button" href="<%= portfolio_item_path(  g3k_portfolio.portfolio_category.url, g3k_portfolio.slug ) %>">Детальніше!</a>
    </div>
  </div>
  <script>

  </script>

</li>
